---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogFilter from '../../components/BlogFilter.svelte';
import { getPublishedPosts, serializePost } from '../../lib/posts';

const posts = await getPublishedPosts();
const sorted = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const postData = sorted.map(serializePost);
---

<BaseLayout title="~/blog">
  <nav class="nav-links"><a href="/" data-nav-item>&larr; home</a></nav>

  <BlogFilter client:load posts={postData} />
</BaseLayout>
